.navbar {
    background-color: rgb(64, 104, 130);
    align-items: center;
}

.products-list {
    display: flex;
    justify-content: center;
}

.product-item {
    width: 300px;
    height: auto;
    background-color: rgb(240, 240, 240);
    margin-right: 50px;
    border-radius: 10px;
    text-align: center;
    transition: 0.2s;
}

.product-item:hover {
    transform: scale(1.05);
    background-color: rgb(177, 208, 224);
    transition: 0.2s;
}

.horizontal {
    display: flex;
    flex-direction: row;
}

.scroll-button {
    background-color: rgb(64, 104, 130);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    transition: 0.2s;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-button:hover {
    background-color: rgb(105, 152, 171);
    transition: 0.2s;
}

.product-container {
    display: flex;
    justify-content: center;
    margin-top:50px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(105, 152, 171);
}

.grid-item {
    display:flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}


/* Début de la fin */
@keyframes shake {
    0% {
      transform: rotateY(0) scale(1);
    }
    50% {
        transform: rotateY(15deg) rotateX(10deg) scale(0.95);
    }
    100% {
      transform: rotateY(0) scale(0.95);
    }
}

@keyframes zoom {
    0% {
        width: calc(100vw / 3);
        height: calc(100vh / 3);
        z-index: 1;
    }
    100% {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
}

@keyframes disappearing {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes appearing-text {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes falling-moon {
    0% {
        transform: translateY(-100vh);
    }
    100% {
        transform: translateY(0vh);
    }
}

@keyframes striking {
    0% {
        text-decoration: none;
    }
    100% {
        text-decoration: line-through;
    }
}

.grid-item:hover{
    object-fit: cover;
    animation: shake 0.3s;
    overflow: hidden;
    transition: 0.2s;
    transform: scale(0.95);
}

.grid-item:nth-of-type(1) { /* Moondustries */
    z-index: 0;
}

.grid-item:nth-of-type(1) .appearing-active-menu img { /* Logo */
    opacity: 0;
}
.grid-item:nth-of-type(1) .appearing-active-menu .name-moon h1:nth-of-type(1) { /* Moon part */
    opacity: 0;
}
.grid-item:nth-of-type(1) .appearing-active-menu .name-moon h1:nth-of-type(2) { /* dustries part */
    opacity: 0;
}
.grid-item:nth-of-type(1) .appearing-active-menu .slogan-appear { /* slogan */
    opacity: 0;
}
.grid-item:nth-of-type(1) .appearing-active-menu .showing-the-truth {
    opacity: 0;
}

.grid-item:nth-of-type(1) .disappearing-active-menu { /* Afficher */
    opacity: 1;
}

.grid-item:nth-of-type(1):active { /* Moondustries clicked */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: zoom 1s;
    z-index: 1;
}

.grid-item:nth-of-type(1):active .appearing-active-menu img { /* Moon */
    animation-delay: 1s;
    animation-duration: 0.5s;
    animation-fill-mode: backwards; /* Pour appliquer le style après l'animation */
    animation-name: falling-moon;
    opacity: 1;
}
.grid-item:nth-of-type(1):active .appearing-active-menu .showing-the-truth { /* slogan */
    animation-delay: 3.5s;
    animation-duration: 0.5s;
    animation-fill-mode: backwards; /* Pour appliquer le style après l'animation */
    animation-name: appearing-text;
    opacity: 1;
}
.grid-item:nth-of-type(1):active .appearing-active-menu .slogan-appear { /* slogan */
    animation-delay: 2.5s;
    animation-duration: 0.5s;
    animation-fill-mode: backwards; /* Pour appliquer le style après l'animation */
    animation-name: appearing-text;
    opacity: 1;
}
.grid-item:nth-of-type(1):active .appearing-active-menu .slogan-appear .striking-the-wrong{ /* slogan barré */
    animation-delay: 3.5s;
    animation-duration: 0.5s;
    animation-fill-mode: backwards; /* Pour appliquer le style après l'animation */
    animation-name: striking;
    text-decoration: line-through;
}
.grid-item:nth-of-type(1):active .appearing-active-menu .name-moon h1:nth-of-type(1) { /* Moon part */
    animation-delay: 1.5s;
    animation-duration: 0.5s;
    animation-fill-mode: backwards; /* Pour appliquer le style après l'animation */
    animation-name: appearing-text;
    opacity: 1;
}
.grid-item:nth-of-type(1):active .appearing-active-menu .name-moon h1:nth-of-type(2) { /* dustries part */
    animation-delay: 1.7s;
    animation-duration: 0.5s;
    animation-fill-mode: backwards; /* Pour appliquer le style après l'animation */
    animation-name: appearing-text;
    opacity: 1;
}

.grid-item:nth-of-type(1):active .disappearing-active-menu {
    animation: disappearing 1s;
    opacity: 0;
}



.grid-item:nth-of-type(2) { /* Products */
    grid-column-start: 2;
    grid-column-end: 4;
    width: calc(200vw / 3); /* pour 2/3 du viewport (de la page)*/
    height: calc(100vh / 3);
}

.grid-item:nth-of-type(3) { /* About */
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    width: calc(200vw / 3);
    height: calc(200vh / 3);
}

.image-fixing {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }


.contact-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.contact-grid .contact-container {
    width: 100vw;
    height: 45.5vh;
    cursor: pointer; /* Pour que même onclick montre qu'une action est possible*/
}

.contact-text {
    position: absolute;
    margin-top: -250px;
    background-color: rgb(64, 104, 130);
    border-radius: 10px;
}
.contact-text p {
    color: white;
    font-size: 1.5em;
    font-weight: 600;
    margin: 10px;
    transition: 0.5s;
}

@keyframes text-bigger {
    0% {
        font-size: 1.5em;
    }
    100% {
        font-size: 2.5em;
    }
}

.contact-container:hover p {
    animation: text-bigger 0.5s;
    animation-fill-mode: backwards;
    font-size: 2.5em;
}

a {
    color: black;
    text-decoration: none; /* no underline */
}

body {
    margin: 0px;
}
